.header {
    min-height: 70px;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #424242;
    font-size: 1em;
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    h1{
        margin-top: 0;

    }
    img{
        width: 36%;
        height: 79px;
        margin: 0;
        position: absolute;
        top: 0px;
        right: -23px;
        display: inline-block;
    }
}